<div class="container">
<h1 style="margin-bottom: 35px;" class="text-primary">Student Details</h1>
<table class="table table-striped">
    <tr>
        <th scope="col"   >Student Id</th>
        <th scope="col"  >Student Name</th>
        <th scope="col"  >Student Age</th>
        <th  scope="col"  colspan="2">Student Address</th>
    </tr>

    <tr>
        <td> <a  routerLink="{{studd.id}}"> {{studd.id}} </a></td>
        <td class="text-primary">{{studd.name}}</td>
        <td class="text-primary">{{studd.address["city"]}}</td>
        <td class="text-primary">{{studd.address["street"]}}</td>
    </tr>

</table>
</div>
